*{
    margin: 0;
    padding: 0;
}
ol,ul{
    list-style-type: none;
}
a{
    color:white;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
}
.left{
    float: left;
}
.right{
    float: right;
}
nav .logo{
    line-height: 70px;
    display: inline;
}
nav{
    border-bottom: 2px solid #f8f8f8;
}
nav .huawei_logo{
    width: 133px;
}
nav{
    background: white;
    height: 75px;
}
nav .nav a{
    display: inline;;
    padding-left: 2px;
}
nav ul{
    position: absolute;
    left: 420px;
    display: inline;
}
nav li{
    float:left;
    margin: 0px 15px;
    line-height: 75px;
    font-size: 13px;
}
nav li a{
    color: #333333;
}
nav .zaixianshop{
    display: inline;
    line-height: 75px;
}
nav .aboutHW{
    margin-right: 250px;
}
nav .dropdown-toggle{
    font-size: 13px;
    font-weight: bold;
}
nav .zaixianshop{
    vertical-align: middle;
}
nav .nav_search{
    vertical-align: middle;
}